body{
    background: #e7e409;
}
.grid{
    position: absolute;
    width: 560px;
    height: 300px;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);background: #884040;
    background: oldlace;
    
}
.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: brown;
}
.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: greenyellow;
}
.ball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: red;
}
#score{
    margin: auto;
			width: 50%;
			/* height: 200px; */
			background-color: lightblue;
			border-radius: 10px;
			box-shadow: 0px 0px 10px gray;
			text-align: center;
			padding: 15px;
			font-size: 24px;
}
.score{
    margin: auto;
    width: 50%;
			/* height: 200px; */
			border-radius: 10px;
			text-align: center;
			padding: 15px;
			font-size: 24px;
}
